*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  font-size: 62.5%; /* 1rem is nu 10px */
}

body{
  font-size: 2rem;
  background: linear-gradient(To top left, #ff1e00, #f40000);
  font-family: 'Open Sans', sans-serif;
}

#root{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}